JWT_ACCESS_SECRET="super-long-secret"
JWT_REFRESH_SECRET="another-super-secret"

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

RESEND_API_KEY="re_5FmYpNxW_7NLdRxbUq6EA5BbR7rqKS6rM"
APP_URL=http://localhost:3000
EMAIL_FROM=auth@peakself.com